
/*<!-- CSS made by Christian -->*/

.local-bg-color-element {
    background-color: #00d3a5;
}

.local-bg-color {
    background: rgb(0,49,30);
    background: radial-gradient(circle, rgba(0,49,30,1) 52%, rgba(0,26,16,1) 92%);
}

.local-border-color {
    border-bottom: 2px solid #00d3a5;
    border-right: 2px solid #00d3a5;
    border-left: 2px solid #00d3a5;
}

.local-text-color {
    color: #00d3a5;
}

.local-text-muted-color {
    color: #9fa996;
}

.local-width-size {
    width: 10em;
}

.local-width-img {
    width: 65%;
}

.local-button-color {
    background-color: #001f13;
}

.local-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 30em);
    justify-content: center;
    grid-gap: 20px;
}

.local-height-navbar {
    height: 5vh;
}

.local-height-sidemenu {
    height: 95vh;
}

/*<!-- CSS made by Philip -->*/

.local-input {
    background-color: none;
    background: none;
    border: none;
    color: white;
    text-decoration: none;
    outline: none;
}

.local-input:focus {
    background-color: none;
    background: none;
    border: none;
    color: white;
    outline: none;
}

/*<!-- CSS made by Oliver -->*/

.flex-container {
    display: flex;
    height: auto;
    margin-right: 3px;
}

.flex-child {
    flex: 1;
    border: 2px solid #00d3a5;
    height: auto;
    margin-top: 1em;
    margin-right: 1em;
    width: 50%;
}

    .flex-child:first-child {
        margin-right: 20px;
    }

.flex-body {
    width: auto;
    height: auto;
}

.flex-img {
    height: 90%;
    width: 95%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.divider {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0;
    width: 100%;
}

.gameinfo-title-card{
    margin-left: 1em;
    margin-right:1em;
}

.gameinfo-text {
    overflow-y: auto;
    color: #00d3a5;
    display: flex;
    margin-left: 1em;
    max-height: 20em
}

/*<!-- CSS made by Christian -->*/

@media (max-height: 990px) {
    .local-height-navbar {
        height: 9vh;
    }

    .local-height-sidemenu {
        height: 91vh;
    }
}

@media (max-height: 1080px) {
    .local-width-size {
        width: 7em;
    }

    ul {
        font-size: 11px;
    }
}

@media (max-width: 400px) {
    .local-grid-container {
        grid-template-columns: repeat(auto-fill, 26em);

    }
}

@media (max-width: 280px) {
    .local-grid-container {
        grid-template-columns: repeat(auto-fill, 21em);
    }
}

