@page
@model GameHub.Pages.PremiumModel
@{
    ViewData["Title"] = "Premium page";
}

<!-- Page made by Christian -->

<h1 class="local-text-color text-center pt-3">Premium Page Under Construction</h1>
