@page
@model GameHub.Pages.SeettingsModel
@{
    ViewData["Title"] = "Settings";
}

<!-- Page made by Christian -->

<h1 class="local-text-color text-center pt-3">Settings Page Under Construction</h1>